/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

:root {
    --color-grey: #445566;
}

header {
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    border-radius: 50%;

    border: 5px solid var(--color-grey);
    margin-bottom: 32px;
    height: 150px;
}

header h3 {
    /* Colocar cor no elemento */
    color: whitesmoke;
    /* Tamanho da fonte do elemento */
    font-size: 42px;
    /*  */
    line-height: 52px;
    /* Efeito na fonte do elemento */
    font-weight: bold;
}

header a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background:cadetblue;
    font-family: 'Roboto', sans-serif;
    color:black;
    margin: none;
}

#wrapper p {
    /* Largura do elemento */
    /* width: 50px; */
    /* max-width: 500px; */
    /* Margem sendo automatica para distribuir melhor 
    no espaço do elemento */
    margin: 32px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;

}

.list {
    max-width: 500px;
    /* margin: 32px auto; */
    font-size: 24px;
    line-height: 34px;

}

.list h2 {
    color: darkolivegreen;
}

.links {
    text-align: center;
    margin-top: 32px;
}

.links a {
    color: black;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover {
    color: white;
    transition: color 200ms;
    border-bottom: 1px solid white;
}